# SQLite Database

In [1]:
import sqlite3
import pandas as pd

In [2]:
def create_tables_and_insert_data():
    # Connecting to the SQLite database
    conn = sqlite3.connect('imdb_movies.db')
    cursor = conn.cursor()

    # Creating the first table for IMDbMoviesInfo.csv
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS IMDbMoviesInfo (
            sno INTEGER PRIMARY KEY,
            "Movie Name" TEXT,
            Director1 TEXT,
            Director2 TEXT,
            Duration INTEGER,
            Year INTEGER,
            Ratings REAL,
            Metascore INTEGER)''')

    # Creating the second table for IMDbMoviesDetails.csv
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS IMDbMoviesDetails (
            "Movie Name" TEXT,
            Votes INTEGER,
            "Gross Collection" TEXT,
            Popularity REAL,
            Certification TEXT,
            Star1 TEXT,
            Star2 TEXT,
            Star3 TEXT,
            Star4 TEXT,
            Genre1 TEXT,
            Genre2 TEXT,
            Genre3 TEXT)''')

    # Reading data from the CSV files
    csv1_df = pd.read_csv('IMDbMoviesInfo.csv')
    csv2_df = pd.read_csv('IMDbMoviesDetails.csv')
    
    # Insert data into the first table
    csv1_df.to_sql('IMDbMoviesInfo', conn, if_exists='replace', index=False)

    # Insert data into the second table
    csv2_df.to_sql('IMDbMoviesDetails', conn, if_exists='replace', index=False)

# Table 1:

In [3]:
def query_sqlite_database():
    conn = sqlite3.connect('imdb_movies.db')
    cursor = conn.cursor()

    # 1) Display all the details of movies created by directors Christopher and Matt Reeves.
    query1 = "SELECT * FROM IMDbMoviesInfo WHERE Director1 IN ('Christopher', 'Matt Reeves') OR Director2 IN ('Christopher', 'Matt Reeves')"
    result1 = pd.read_sql_query(query1, conn)
    print("Result 1:")
    print(result1)
    
if __name__ == "__main__":
    # Step 1: Create tables and insert data from CSV files
    create_tables_and_insert_data()

    # Step 2: Query the SQLite database
    query_sqlite_database()

Result 1:
Empty DataFrame
Columns: [sno, Movie Name, Duration, Year, Ratings, Metascore, Director1, Director2]
Index: []

In [4]:
def query_sqlite_database():
    conn = sqlite3.connect('imdb_movies.db')
    cursor = conn.cursor()
    # 1) Display all the details of movies created by directors Christopher and Matt Reeves.
    query1 = "SELECT * FROM IMDbMoviesInfo WHERE Director1 IN ('Christopher', 'Matt Reeves') OR Director2 IN ('Christopher', 'Matt Reeves')"
    result1 = pd.read_sql_query(query1, conn)
    print("Result 1:")
    print(result1)
if __name__ == "__main__":
    # Step 1: Create tables and insert data from CSV files
    create_tables_and_insert_data()

    # Step 2: Query the SQLite database
    query_sqlite_database()

Result 1:
Empty DataFrame
Columns: [sno, Movie Name, Duration, Year, Ratings, Metascore, Director1, Director2]
Index: []

In [5]:
def query_sqlite_database():
    conn = sqlite3.connect('imdb_movies.db')
    cursor = conn.cursor()
    # 2) Display all the details of movies with a duration of 140 minutes to 190 minutes.
    query2 = "SELECT * FROM IMDbMoviesInfo WHERE Duration BETWEEN 140 AND 190"
    result2 = pd.read_sql_query(query2, conn)
    print("\nResult 2:")
    print(result2)

if __name__ == "__main__":
    # Step 1: Create tables and insert data from CSV files
    create_tables_and_insert_data()

    # Step 2: Query the SQLite database
    query_sqlite_database()

Result 2:
    sno                                         Movie Name  Duration  Year  \
0     1                                    The Dark Knight       152  2008
1     3                Spider-Man: Across the Spider-Verse       140  2023
2     4                                          Inception       148  2010
3     5  The Lord of the Rings: The Fellowship of the Ring       178  2001
4     6              The Lord of the Rings: The Two Towers       179  2002
5     9                                    Soorarai Pottru       153  2020
6    14                                         Sita Ramam       163  2022
7    15                                          Gladiator       155  2000
8    19                              The Dark Knight Rises       164  2012
9    20                                  Avengers: Endgame       181  2019
10   23                             Avengers: Infinity War       149  2018
11   24                                             Kaithi       145  2019
12   25                                             Asuran       141  2019
13   27                                               Heat       170  1995
14   31                                             Dangal       161  2016
15   32                                            Kantara       148  2022
16   33                                   K.G.F: Chapter 2       168  2022
17   34                                             Vikram       175  2022
18   36                                           Ratsasan       170  2018
19   39                                      Batman Begins       140  2005
20   40                            Spider-Man: No Way Home       148  2021
21   45                                                Ran       162  1985
22   47                        Baahubali 2: The Conclusion       167  2017

    Ratings  Metascore                       Director1  \
0       9.0       84.0             \nChristopher Nolan
1       8.9       86.0  Directors:\nJoaquim Dos Santos
2       8.8       74.0             \nChristopher Nolan
3       8.8       92.0                 \nPeter Jackson
4       8.8       87.0                 \nPeter Jackson
5       8.7        NaN                 \nSudha Kongara
6       8.6        NaN              \nHanu Raghavapudi
7       8.5       67.0                  \nRidley Scott
8       8.4       78.0             \nChristopher Nolan
9       8.4       78.0       Directors:\nAnthony Russo
10      8.4       68.0       Directors:\nAnthony Russo
11      8.4        NaN              \nLokesh Kanagaraj
12      8.4        NaN                   \nVetrimaaran
13      8.3       76.0                  \nMichael Mann
14      8.3        NaN                 \nNitesh Tiwari
15      8.3        NaN                 \nRishab Shetty
16      8.3        NaN                \nPrashanth Neel
17      8.3        NaN              \nLokesh Kanagaraj
18      8.3        NaN                     \nRam Kumar
19      8.2       70.0             \nChristopher Nolan
20      8.2       71.0                     \nJon Watts
21      8.2       97.0                \nAkira Kurosawa
22      8.2        NaN                \nS.S. Rajamouli

                              Director2
0                                  None
1   \nKemp Powers, \nJustin K. Thompson
2                                  None
3                                  None
4                                  None
5                                  None
6                                  None
7                                  None
8                                  None
9                           \nJoe Russo
10                          \nJoe Russo
11                                 None
12                                 None
13                                 None
14                                 None
15                                 None
16                                 None
17                                 None
18                                 None
19                                 None
20                                 None
21                                 None
22                                 None

In [6]:
def query_sqlite_database():
    conn = sqlite3.connect('imdb_movies.db')
    cursor = conn.cursor()
    # 3) Display all details of movies with ratings above 7 in ascending order.
    query3 = "SELECT * FROM IMDbMoviesInfo WHERE Ratings > 7 ORDER BY Ratings ASC"
    result3 = pd.read_sql_query(query3, conn)
    print("\nResult 3:")
    print(result3)

if __name__ == "__main__":
    # Step 1: Create tables and insert data from CSV files
    create_tables_and_insert_data()

    # Step 2: Query the SQLite database
    query_sqlite_database()

Result 3:
    sno                                         Movie Name  Duration  Year  \
0    37                 Indiana Jones and the Last Crusade       127  1989
1    38                                      Jurassic Park       127  1993
2    39                                      Batman Begins       140  2005
3    40                            Spider-Man: No Way Home       148  2021
4    41                                               1917       119  2019
5    42                                           Die Hard       132  1988
6    43                                  Kill Bill: Vol. 1       111  2003
7    44                                     V for Vendetta       132  2005
8    45                                                Ran       162  1985
9    46                 Kimetsu no Yaiba: Mugen Ressha-Hen       117  2020
10   47                        Baahubali 2: The Conclusion       167  2017
11   48                                 Gangs of Wasseypur       321  2012
12   49                                            Yôjinbô       110  1961
13   50                           Uri: The Surgical Strike       138  2019
14   26                                  Top Gun: Maverick       130  2022
15   27                                               Heat       170  1995
16   28         Star Wars: Episode VI - Return of the Jedi       131  1983
17   29                                      Mononoke-hime       134  1997
18   30                                 North by Northwest       136  1959
19   31                                             Dangal       161  2016
20   32                                            Kantara       148  2022
21   33                                   K.G.F: Chapter 2       168  2022
22   34                                             Vikram       175  2022
23   35                                          Shershaah       135  2021
24   36                                           Ratsasan       170  2018
25   17                            Raiders of the Lost Ark       115  1981
26   18                  Spider-Man: Into the Spider-Verse       117  2018
27   19                              The Dark Knight Rises       164  2012
28   20                                  Avengers: Endgame       181  2019
29   21                                             Aliens       137  1986
30   22                                           Oldeuboi       101  2003
31   23                             Avengers: Infinity War       149  2018
32   24                                             Kaithi       145  2019
33   25                                             Asuran       141  2019
34   15                                          Gladiator       155  2000
35   16                                               Léon       110  1994
36   10                         Terminator 2: Judgment Day       137  1991
37   11                                          Star Wars       121  1977
38   12                               Shichinin no samurai       207  1954
39   13                                            Seppuku       133  1962
40   14                                         Sita Ramam       163  2022
41    7                                         The Matrix       136  1999
42    8     Star Wars: Episode V - The Empire Strikes Back       124  1980
43    9                                    Soorarai Pottru       153  2020
44    4                                          Inception       148  2010
45    5  The Lord of the Rings: The Fellowship of the Ring       178  2001
46    6              The Lord of the Rings: The Two Towers       179  2002
47    3                Spider-Man: Across the Spider-Verse       140  2023
48    1                                    The Dark Knight       152  2008
49    2      The Lord of the Rings: The Return of the King       201  2003

    Ratings  Metascore                       Director1  \
0       8.2       65.0              \nSteven Spielberg
1       8.2       68.0              \nSteven Spielberg
2       8.2       70.0             \nChristopher Nolan
3       8.2       71.0                     \nJon Watts
4       8.2       78.0                    \nSam Mendes
5       8.2       72.0                \nJohn McTiernan
6       8.2       69.0             \nQuentin Tarantino
7       8.2       62.0                \nJames McTeigue
8       8.2       97.0                \nAkira Kurosawa
9       8.2       72.0                \nHaruo Sotozaki
10      8.2        NaN                \nS.S. Rajamouli
11      8.2       89.0                \nAnurag Kashyap
12      8.2       93.0                \nAkira Kurosawa
13      8.2        NaN                   \nAditya Dhar
14      8.3       78.0               \nJoseph Kosinski
15      8.3       76.0                  \nMichael Mann
16      8.3       58.0              \nRichard Marquand
17      8.3       76.0                \nHayao Miyazaki
18      8.3       98.0              \nAlfred Hitchcock
19      8.3        NaN                 \nNitesh Tiwari
20      8.3        NaN                 \nRishab Shetty
21      8.3        NaN                \nPrashanth Neel
22      8.3        NaN              \nLokesh Kanagaraj
23      8.3        NaN                 \nVishnuvardhan
24      8.3        NaN                     \nRam Kumar
25      8.4       85.0              \nSteven Spielberg
26      8.4       87.0     Directors:\nBob Persichetti
27      8.4       78.0             \nChristopher Nolan
28      8.4       78.0       Directors:\nAnthony Russo
29      8.4       84.0                 \nJames Cameron
30      8.4       77.0                \nPark Chan-wook
31      8.4       68.0       Directors:\nAnthony Russo
32      8.4        NaN              \nLokesh Kanagaraj
33      8.4        NaN                   \nVetrimaaran
34      8.5       67.0                  \nRidley Scott
35      8.5       64.0                    \nLuc Besson
36      8.6       75.0                 \nJames Cameron
37      8.6       90.0                  \nGeorge Lucas
38      8.6       98.0                \nAkira Kurosawa
39      8.6       85.0              \nMasaki Kobayashi
40      8.6        NaN              \nHanu Raghavapudi
41      8.7       73.0      Directors:\nLana Wachowski
42      8.7       82.0                \nIrvin Kershner
43      8.7        NaN                 \nSudha Kongara
44      8.8       74.0             \nChristopher Nolan
45      8.8       92.0                 \nPeter Jackson
46      8.8       87.0                 \nPeter Jackson
47      8.9       86.0  Directors:\nJoaquim Dos Santos
48      9.0       84.0             \nChristopher Nolan
49      9.0       94.0                 \nPeter Jackson

                              Director2
0                                  None
1                                  None
2                                  None
3                                  None
4                                  None
5                                  None
6                                  None
7                                  None
8                                  None
9                                  None
10                                 None
11                                 None
12                                 None
13                                 None
14                                 None
15                                 None
16                                 None
17                                 None
18                                 None
19                                 None
20                                 None
21                                 None
22                                 None
23                                 None
24                                 None
25                                 None
26     \nPeter Ramsey, \nRodney Rothman
27                                 None
28                          \nJoe Russo
29                                 None
30                                 None
31                          \nJoe Russo
32                                 None
33                                 None
34                                 None
35                                 None
36                                 None
37                                 None
38                                 None
39                                 None
40                                 None
41                    \nLilly Wachowski
42                                 None
43                                 None
44                                 None
45                                 None
46                                 None
47  \nKemp Powers, \nJustin K. Thompson
48                                 None
49                                 None

In [7]:
def query_sqlite_database():
    conn = sqlite3.connect('imdb_movies.db')
    cursor = conn.cursor()
    # 4) Display all movie names in descending order.
    query4 = "SELECT `Movie Name` FROM IMDbMoviesInfo ORDER BY `Movie Name` DESC"
    result4 = pd.read_sql_query(query4, conn)
    print("\nResult 4:")
    print(result4)

if __name__ == "__main__":
    # Step 1: Create tables and insert data from CSV files
    create_tables_and_insert_data()

    # Step 2: Query the SQLite database
    query_sqlite_database()

Result 4:
                                           Movie Name
0                                             Yôjinbô
1                                              Vikram
2                                      V for Vendetta
3                            Uri: The Surgical Strike
4                                   Top Gun: Maverick
5                                          The Matrix
6               The Lord of the Rings: The Two Towers
7       The Lord of the Rings: The Return of the King
8   The Lord of the Rings: The Fellowship of the Ring
9                               The Dark Knight Rises
10                                    The Dark Knight
11                         Terminator 2: Judgment Day
12         Star Wars: Episode VI - Return of the Jedi
13     Star Wars: Episode V - The Empire Strikes Back
14                                          Star Wars
15                            Spider-Man: No Way Home
16                  Spider-Man: Into the Spider-Verse
17                Spider-Man: Across the Spider-Verse
18                                    Soorarai Pottru
19                                         Sita Ramam
20                               Shichinin no samurai
21                                          Shershaah
22                                            Seppuku
23                                           Ratsasan
24                                                Ran
25                            Raiders of the Lost Ark
26                                           Oldeuboi
27                                 North by Northwest
28                                      Mononoke-hime
29                                               Léon
30                 Kimetsu no Yaiba: Mugen Ressha-Hen
31                                  Kill Bill: Vol. 1
32                                            Kantara
33                                             Kaithi
34                                   K.G.F: Chapter 2
35                                      Jurassic Park
36                 Indiana Jones and the Last Crusade
37                                          Inception
38                                               Heat
39                                          Gladiator
40                                 Gangs of Wasseypur
41                                           Die Hard
42                                             Dangal
43                                      Batman Begins
44                        Baahubali 2: The Conclusion
45                             Avengers: Infinity War
46                                  Avengers: Endgame
47                                             Asuran
48                                             Aliens
49                                               1917

In [8]:
def query_sqlite_database():
    conn = sqlite3.connect('imdb_movies.db')
    cursor = conn.cursor()
    # 5) Display movie names starts with ‘P’ and their rating is greater than 7.
    query5 = "SELECT `Movie Name`, Ratings FROM IMDbMoviesInfo WHERE `Movie Name` LIKE 'P%' AND Ratings > 7"
    result5 = pd.read_sql_query(query5, conn)
    print("\nResult 5:")
    print(result5)

if __name__ == "__main__":
    # Step 1: Create tables and insert data from CSV files
    create_tables_and_insert_data()

    # Step 2: Query the SQLite database
    query_sqlite_database()

Result 5:
Empty DataFrame
Columns: [Movie Name, Ratings]
Index: []

# Table 2: IMDbMoviesDetails

In [9]:
def query_sqlite_database():
    conn = sqlite3.connect('imdb_movies.db')
    cursor = conn.cursor()
    # 1) Display all movie names with star Arnold Schwarzenegger in ascending order.
    query6 = "SELECT `Movie Name` FROM IMDbMoviesDetails WHERE Star1 LIKE '%Arnold Schwarzenegger%' OR Star2 LIKE '%Arnold Schwarzenegger%' OR Star3 LIKE '%Arnold Schwarzenegger%' OR Star4 LIKE '%Arnold Schwarzenegger%' ORDER BY `Movie Name` ASC"
    result6 = pd.read_sql_query(query6, conn)
    print("\nResult 6:")
    print(result6)

if __name__ == "__main__":
    # Step 1: Create tables and insert data from CSV files
    create_tables_and_insert_data()

    # Step 2: Query the SQLite database
    query_sqlite_database()

Result 6:
                   Movie Name
0  Terminator 2: Judgment Day

In [10]:
def query_sqlite_database():
    conn = sqlite3.connect('imdb_movies.db')
    cursor = conn.cursor()
    # 2) Display all details of the movie with the highest number of votes.
    query7 = "SELECT * FROM IMDbMoviesDetails WHERE Votes = (SELECT MAX(Votes) FROM IMDbMoviesDetails)"
    result7 = pd.read_sql_query(query7, conn)
    print("\nResult 7:")
    print(result7)
    
if __name__ == "__main__":
    # Step 1: Create tables and insert data from CSV files
    create_tables_and_insert_data()

    # Step 2: Query the SQLite database
    query_sqlite_database()

Result 7:
        Movie Name    Votes Gross Collection Popularity Certification  \
0  The Dark Knight  2746898      534,858,444       None            UA

              Star1           Star2            Star3            Star4  Genre1  \
0  \nChristian Bale  \nHeath Ledger  \nAaron Eckhart  \nMichael Caine  Action

  Genre2 Genre3
0  Crime  Drama

In [14]:
def query_sqlite_database():
    conn = sqlite3.connect('imdb_movies.db')
    cursor = conn.cursor()
    # 3) Display movie names with gross collections in descending order.
    query8 = "SELECT `Movie Name`, `Gross Collection` FROM IMDbMoviesDetails ORDER BY `Gross Collection` DESC"
    result8 = pd.read_sql_query(query8, conn)
    print("\nResult 8:")
    print(result8)
    
if __name__ == "__main__":
    # Step 1: Create tables and insert data from CSV files
    create_tables_and_insert_data()

    # Step 2: Query the SQLite database
    query_sqlite_database()

Result 8:
                                           Movie Name Gross Collection
0                                  Gangs of Wasseypur            99958
1                                             Kantara            96994
2                                   Avengers: Endgame      858,373,000
3                                              Aliens       85,160,248
4                                            Die Hard       83,008,852
5                             Spider-Man: No Way Home      804,747,988
6                                   Top Gun: Maverick      718,732,821
7                                            Oldeuboi          707,481
8                                      V for Vendetta       70,511,035
9                                   Kill Bill: Vol. 1       70,099,045
10                             Avengers: Infinity War      678,815,482
11                                               Heat       67,436,818
12                                             Vikram            64888
13                                            Seppuku            62337
14                                         Sita Ramam            61561
15                                   K.G.F: Chapter 2        6,604,562
16                                    The Dark Knight      534,858,444
17                                           Ratsasan            47541
18                 Kimetsu no Yaiba: Mugen Ressha-Hen       47,700,000
19                              The Dark Knight Rises      448,139,099
20                                      Jurassic Park      402,453,882
21                           Uri: The Surgical Strike        4,186,168
22                                                Ran        4,135,750
23      The Lord of the Rings: The Return of the King      377,845,905
24                                             Kaithi            36857
25              The Lord of the Rings: The Two Towers      342,551,365
26                                          Star Wars      322,740,140
27                                             Asuran            31567
28  The Lord of the Rings: The Fellowship of the Ring      315,544,750
29         Star Wars: Episode VI - Return of the Jedi      309,125,409
30                                          Inception      292,576,195
31     Star Wars: Episode V - The Empire Strikes Back      290,475,067
32                               Shichinin no samurai          269,061
33                            Raiders of the Lost Ark      248,159,971
34                                      Batman Begins      206,852,432
35                         Terminator 2: Judgment Day      204,843,350
36                        Baahubali 2: The Conclusion       20,186,659
37                                      Mononoke-hime        2,375,308
38                 Indiana Jones and the Last Crusade      197,171,806
39                Spider-Man: Across the Spider-Verse           191438
40                  Spider-Man: Into the Spider-Verse      190,241,310
41                                               Léon       19,501,238
42                                          Gladiator      187,705,427
43                                         The Matrix      171,479,930
44                                               1917      159,227,644
45                                 North by Northwest       13,275,000
46                                            Yôjinbô           126865
47                                          Shershaah           125646
48                                    Soorarai Pottru           120110
49                                             Dangal       12,391,761

In [16]:
def query_sqlite_database():
    conn = sqlite3.connect('imdb_movies.db')
    cursor = conn.cursor()
    # 4) Display the gross collection of movies with the star Arnold.
    query9 = "SELECT `Movie Name`, `Gross Collection` FROM IMDbMoviesDetails WHERE `Movie Name` IN (SELECT `Movie Name` FROM IMDbMoviesDetails WHERE Star1 LIKE '%Arnold Schwarzenegger%' OR Star2 LIKE '%Arnold Schwarzenegger%' OR Star3 LIKE '%Arnold Schwarzenegger%' OR Star4 LIKE '%Arnold Schwarzenegger%') ORDER BY `Gross Collection` DESC LIMIT 1"
    result9 = pd.read_sql_query(query9, conn)
    print("\nResult 9:")
    print(result9)
    
if __name__ == "__main__":
    # Step 1: Create tables and insert data from CSV files
    create_tables_and_insert_data()

    # Step 2: Query the SQLite database
    query_sqlite_database()

Result 9:
                   Movie Name Gross Collection
0  Terminator 2: Judgment Day      204,843,350

In [18]:
def query_sqlite_database():
    conn = sqlite3.connect('imdb_movies.db')
    cursor = conn.cursor()
    # 5) Display all details of movies with comedy and action genres.
    query10 = "SELECT * FROM IMDbMoviesDetails WHERE Genre1 LIKE '%Comedy%' AND Genre2 LIKE '%Action%'"
    result10 = pd.read_sql_query(query10, conn)
    print("\nResult 10:")
    print(result10)
    
if __name__ == "__main__":
    # Step 1: Create tables and insert data from CSV files
    create_tables_and_insert_data()

    # Step 2: Query the SQLite database
    query_sqlite_database()

Result 10:
Empty DataFrame
Columns: [Movie Name, Votes, Gross Collection, Popularity, Certification, Star1, Star2, Star3, Star4, Genre1, Genre2, Genre3]
Index: []

# Subqueries:

In [19]:
def query_sqlite_database():
    conn = sqlite3.connect('imdb_movies.db')
    cursor = conn.cursor()
    # 1) Display all details from both tables where movie names are the same.
    subquery1 = "SELECT * FROM IMDbMoviesInfo JOIN IMDbMoviesDetails ON IMDbMoviesInfo.'Movie Name' = IMDbMoviesDetails.'Movie Name'"
    subresult1 = pd.read_sql_query(subquery1, conn)
    print("\nSubresult 1:")
    print(subresult1)
    
if __name__ == "__main__":
    # Step 1: Create tables and insert data from CSV files
    create_tables_and_insert_data()

    # Step 2: Query the SQLite database
    query_sqlite_database()

Subresult 1:
    sno                                         Movie Name  Duration  Year  \
0     1                                    The Dark Knight       152  2008
1     2      The Lord of the Rings: The Return of the King       201  2003
2     3                Spider-Man: Across the Spider-Verse       140  2023
3     4                                          Inception       148  2010
4     5  The Lord of the Rings: The Fellowship of the Ring       178  2001
5     6              The Lord of the Rings: The Two Towers       179  2002
6     7                                         The Matrix       136  1999
7     8     Star Wars: Episode V - The Empire Strikes Back       124  1980
8     9                                    Soorarai Pottru       153  2020
9    10                         Terminator 2: Judgment Day       137  1991
10   11                                          Star Wars       121  1977
11   12                               Shichinin no samurai       207  1954
12   13                                            Seppuku       133  1962
13   14                                         Sita Ramam       163  2022
14   15                                          Gladiator       155  2000
15   16                                               Léon       110  1994
16   17                            Raiders of the Lost Ark       115  1981
17   18                  Spider-Man: Into the Spider-Verse       117  2018
18   19                              The Dark Knight Rises       164  2012
19   20                                  Avengers: Endgame       181  2019
20   21                                             Aliens       137  1986
21   22                                           Oldeuboi       101  2003
22   23                             Avengers: Infinity War       149  2018
23   24                                             Kaithi       145  2019
24   25                                             Asuran       141  2019
25   26                                  Top Gun: Maverick       130  2022
26   27                                               Heat       170  1995
27   28         Star Wars: Episode VI - Return of the Jedi       131  1983
28   29                                      Mononoke-hime       134  1997
29   30                                 North by Northwest       136  1959
30   31                                             Dangal       161  2016
31   32                                            Kantara       148  2022
32   33                                   K.G.F: Chapter 2       168  2022
33   34                                             Vikram       175  2022
34   35                                          Shershaah       135  2021
35   36                                           Ratsasan       170  2018
36   37                 Indiana Jones and the Last Crusade       127  1989
37   38                                      Jurassic Park       127  1993
38   39                                      Batman Begins       140  2005
39   40                            Spider-Man: No Way Home       148  2021
40   41                                               1917       119  2019
41   42                                           Die Hard       132  1988
42   43                                  Kill Bill: Vol. 1       111  2003
43   44                                     V for Vendetta       132  2005
44   45                                                Ran       162  1985
45   46                 Kimetsu no Yaiba: Mugen Ressha-Hen       117  2020
46   47                        Baahubali 2: The Conclusion       167  2017
47   48                                 Gangs of Wasseypur       321  2012
48   49                                            Yôjinbô       110  1961
49   50                           Uri: The Surgical Strike       138  2019

    Ratings  Metascore                       Director1  \
0       9.0       84.0             \nChristopher Nolan
1       9.0       94.0                 \nPeter Jackson
2       8.9       86.0  Directors:\nJoaquim Dos Santos
3       8.8       74.0             \nChristopher Nolan
4       8.8       92.0                 \nPeter Jackson
5       8.8       87.0                 \nPeter Jackson
6       8.7       73.0      Directors:\nLana Wachowski
7       8.7       82.0                \nIrvin Kershner
8       8.7        NaN                 \nSudha Kongara
9       8.6       75.0                 \nJames Cameron
10      8.6       90.0                  \nGeorge Lucas
11      8.6       98.0                \nAkira Kurosawa
12      8.6       85.0              \nMasaki Kobayashi
13      8.6        NaN              \nHanu Raghavapudi
14      8.5       67.0                  \nRidley Scott
15      8.5       64.0                    \nLuc Besson
16      8.4       85.0              \nSteven Spielberg
17      8.4       87.0     Directors:\nBob Persichetti
18      8.4       78.0             \nChristopher Nolan
19      8.4       78.0       Directors:\nAnthony Russo
20      8.4       84.0                 \nJames Cameron
21      8.4       77.0                \nPark Chan-wook
22      8.4       68.0       Directors:\nAnthony Russo
23      8.4        NaN              \nLokesh Kanagaraj
24      8.4        NaN                   \nVetrimaaran
25      8.3       78.0               \nJoseph Kosinski
26      8.3       76.0                  \nMichael Mann
27      8.3       58.0              \nRichard Marquand
28      8.3       76.0                \nHayao Miyazaki
29      8.3       98.0              \nAlfred Hitchcock
30      8.3        NaN                 \nNitesh Tiwari
31      8.3        NaN                 \nRishab Shetty
32      8.3        NaN                \nPrashanth Neel
33      8.3        NaN              \nLokesh Kanagaraj
34      8.3        NaN                 \nVishnuvardhan
35      8.3        NaN                     \nRam Kumar
36      8.2       65.0              \nSteven Spielberg
37      8.2       68.0              \nSteven Spielberg
38      8.2       70.0             \nChristopher Nolan
39      8.2       71.0                     \nJon Watts
40      8.2       78.0                    \nSam Mendes
41      8.2       72.0                \nJohn McTiernan
42      8.2       69.0             \nQuentin Tarantino
43      8.2       62.0                \nJames McTeigue
44      8.2       97.0                \nAkira Kurosawa
45      8.2       72.0                \nHaruo Sotozaki
46      8.2        NaN                \nS.S. Rajamouli
47      8.2       89.0                \nAnurag Kashyap
48      8.2       93.0                \nAkira Kurosawa
49      8.2        NaN                   \nAditya Dhar

                              Director2  \
0                                  None
1                                  None
2   \nKemp Powers, \nJustin K. Thompson
3                                  None
4                                  None
5                                  None
6                     \nLilly Wachowski
7                                  None
8                                  None
9                                  None
10                                 None
11                                 None
12                                 None
13                                 None
14                                 None
15                                 None
16                                 None
17     \nPeter Ramsey, \nRodney Rothman
18                                 None
19                          \nJoe Russo
20                                 None
21                                 None
22                          \nJoe Russo
23                                 None
24                                 None
25                                 None
26                                 None
27                                 None
28                                 None
29                                 None
30                                 None
31                                 None
32                                 None
33                                 None
34                                 None
35                                 None
36                                 None
37                                 None
38                                 None
39                                 None
40                                 None
41                                 None
42                                 None
43                                 None
44                                 None
45                                 None
46                                 None
47                                 None
48                                 None
49                                 None

                                           Movie Name    Votes  \
0                                     The Dark Knight  2746898
1       The Lord of the Rings: The Return of the King  1901241
2                 Spider-Man: Across the Spider-Verse   191438
3                                           Inception  2437787
4   The Lord of the Rings: The Fellowship of the Ring  1929591
5               The Lord of the Rings: The Two Towers  1715719
6                                          The Matrix  1973481
7      Star Wars: Episode V - The Empire Strikes Back  1331313
8                                     Soorarai Pottru   120110
9                          Terminator 2: Judgment Day  1132377
10                                          Star Wars  1403503
11                               Shichinin no samurai   355314
12                                            Seppuku    62337
13                                         Sita Ramam    61561
14                                          Gladiator  1548002
15                                               Léon  1198846
16                            Raiders of the Lost Ark  1005023
17                  Spider-Man: Into the Spider-Verse   611920
18                              The Dark Knight Rises  1757420
19                                  Avengers: Endgame  1197274
20                                             Aliens   737743
21                                           Oldeuboi   602343
22                             Avengers: Infinity War  1139385
23                                             Kaithi    36857
24                                             Asuran    31567
25                                  Top Gun: Maverick   612778
26                                               Heat   684205
27         Star Wars: Episode VI - Return of the Jedi  1085357
28                                      Mononoke-hime   410961
29                                 North by Northwest   336675
30                                             Dangal   199361
31                                            Kantara    96994
32                                   K.G.F: Chapter 2   141171
33                                             Vikram    64888
34                                          Shershaah   125646
35                                           Ratsasan    47541
36                 Indiana Jones and the Last Crusade   785231
37                                      Jurassic Park  1024335
38                                      Batman Begins  1517368
39                            Spider-Man: No Way Home   815853
40                                               1917   631012
41                                           Die Hard   906945
42                                  Kill Bill: Vol. 1  1148879
43                                     V for Vendetta  1146896
44                                                Ran   130495
45                 Kimetsu no Yaiba: Mugen Ressha-Hen    66279
46                        Baahubali 2: The Conclusion   108203
47                                 Gangs of Wasseypur    99958
48                                            Yôjinbô   126865
49                           Uri: The Surgical Strike    68404

   Gross Collection Popularity Certification                    Star1  \
0       534,858,444       None            UA         \nChristian Bale
1       377,845,905       None             U            \nElijah Wood
2            191438       None             U          \nShameik Moore
3       292,576,195       None            UA      \nLeonardo DiCaprio
4       315,544,750       None             U            \nElijah Wood
5       342,551,365       None            UA            \nElijah Wood
6       171,479,930       None             A           \nKeanu Reeves
7       290,475,067       None            UA            \nMark Hamill
8            120110       None             U                 \nSuriya
9       204,843,350       None             A  \nArnold Schwarzenegger
10      322,740,140       None             U            \nMark Hamill
11          269,061       None             U         \nToshirô Mifune
12            62337       None          None        \nTatsuya Nakadai
13            61561       None             U        \nDulquer Salmaan
14      187,705,427       None            UA          \nRussell Crowe
15       19,501,238       None             A              \nJean Reno
16      248,159,971       None             A          \nHarrison Ford
17      190,241,310       None             U          \nShameik Moore
18      448,139,099       None            UA         \nChristian Bale
19      858,373,000       None            UA      \nRobert Downey Jr.
20       85,160,248       None             U       \nSigourney Weaver
21          707,481       None             A           \nChoi Min-sik
22      678,815,482       None            UA      \nRobert Downey Jr.
23            36857       None            UA                 \nKarthi
24            31567       None            UA                \nDhanush
25      718,732,821       None            UA             \nTom Cruise
26       67,436,818       None             A              \nAl Pacino
27      309,125,409       None             U            \nMark Hamill
28        2,375,308       None             U           \nYôji Matsuda
29       13,275,000       None             U             \nCary Grant
30       12,391,761       None             U             \nAamir Khan
31            96994       None            UA          \nRishab Shetty
32        6,604,562       None            UA                   \nYash
33            64888       None            UA           \nKamal Haasan
34           125646       None            UA      \nSidharth Malhotra
35            47541       None            UA          \nVishnu Vishal
36      197,171,806       None             U          \nHarrison Ford
37      402,453,882       None            UA              \nSam Neill
38      206,852,432       None            UA         \nChristian Bale
39      804,747,988       None            UA            \nTom Holland
40      159,227,644       None             R   \nDean-Charles Chapman
41       83,008,852       None             A           \nBruce Willis
42       70,099,045       None             A            \nUma Thurman
43       70,511,035       None            UA           \nHugo Weaving
44        4,135,750       None     Not Rated        \nTatsuya Nakadai
45       47,700,000       None            UA          \nNatsuki Hanae
46       20,186,659       None            UA                \nPrabhas
47            99958       None             A         \nManoj Bajpayee
48           126865       None             U         \nToshirô Mifune
49        4,186,168       None            UA          \nVicky Kaushal

                     Star2                   Star3                   Star4  \
0           \nHeath Ledger         \nAaron Eckhart         \nMichael Caine
1        \nViggo Mortensen          \nIan McKellen         \nOrlando Bloom
2       \nHailee Steinfeld     \nBrian Tyree Henry     \nLuna Lauren Velez
3   \nJoseph Gordon-Levitt           \nElliot Page          \nKen Watanabe
4           \nIan McKellen         \nOrlando Bloom             \nSean Bean
5           \nIan McKellen       \nViggo Mortensen         \nOrlando Bloom
6     \nLaurence Fishburne      \nCarrie-Anne Moss          \nHugo Weaving
7          \nHarrison Ford         \nCarrie Fisher    \nBilly Dee Williams
8           \nParesh Rawal     \nAparna Balamurali        \nVivek Prasanna
9         \nLinda Hamilton        \nEdward Furlong        \nRobert Patrick
10         \nHarrison Ford         \nCarrie Fisher         \nAlec Guinness
11       \nTakashi Shimura        \nKeiko Tsushima      \nYukiko Shimazaki
12        \nAkira Ishihama        \nShima Iwashita         \nTetsurô Tanba
13         \nMrunal Thakur     \nRashmika Mandanna               \nSumanth
14       \nJoaquin Phoenix        \nConnie Nielsen           \nOliver Reed
15           \nGary Oldman       \nNatalie Portman          \nDanny Aiello
16           \nKaren Allen          \nPaul Freeman      \nJohn Rhys-Davies
17          \nJake Johnson      \nHailee Steinfeld        \nMahershala Ali
18             \nTom Hardy         \nAnne Hathaway           \nGary Oldman
19           \nChris Evans          \nMark Ruffalo       \nChris Hemsworth
20         \nMichael Biehn           \nCarrie Henn           \nPaul Reiser
21            \nYoo Ji-tae        \nKang Hye-jeong         \nKim Byeong-Ok
22       \nChris Hemsworth          \nMark Ruffalo           \nChris Evans
23                \nNarain             \nArjun Das         \nGeorge Maryan
24         \nManju Warrier           \nPrakash Raj             \nPasupathy
25     \nJennifer Connelly          \nMiles Teller            \nVal Kilmer
26        \nRobert De Niro            \nVal Kilmer            \nJon Voight
27         \nHarrison Ford         \nCarrie Fisher    \nBilly Dee Williams
28         \nYuriko Ishida           \nYûko Tanaka          \nBilly Crudup
29       \nEva Marie Saint           \nJames Mason   \nJessie Royce Landis
30         \nSakshi Tanwar    \nFatima Sana Shaikh        \nSanya Malhotra
31      \nKishore Kumar G.         \nAchyuth Kumar        \nSapthami Gowda
32           \nSanjay Dutt        \nRaveena Tandon       \nSrinidhi Shetty
33      \nVijay Sethupathi         \nFahadh Faasil                \nNarain
34          \nKiara Advani          \nShiv Panditt       \nPranay Pachauri
35            \nAmala Paul            \nRadha Ravi       \nSangili Murugan
36          \nSean Connery          \nAlison Doody       \nDenholm Elliott
37            \nLaura Dern         \nJeff Goldblum  \nRichard Attenborough
38         \nMichael Caine          \nKen Watanabe           \nLiam Neeson
39               \nZendaya  \nBenedict Cumberbatch         \nJacob Batalon
40         \nGeorge MacKay           \nDaniel Mays           \nColin Firth
41          \nAlan Rickman        \nBonnie Bedelia   \nReginald VelJohnson
42       \nDavid Carradine          \nDaryl Hannah        \nMichael Madsen
43       \nNatalie Portman         \nRupert Graves           \nStephen Rea
44           \nAkira Terao         \nJinpachi Nezu           \nDaisuke Ryû
45            \nAkari Kitô   \nYoshitsugu Matsuoka          \nHiro Shimono
46        \nRana Daggubati        \nAnushka Shetty      \nTamannaah Bhatia
47   \nNawazuddin Siddiqui      \nTigmanshu Dhulia          \nRicha Chadha
48           \nEijirô Tôno       \nTatsuya Nakadai          \nYôko Tsukasa
49          \nParesh Rawal           \nMohit Raina           \nYami Gautam

       Genre1     Genre2     Genre3
0      Action      Crime      Drama
1      Action  Adventure      Drama
2   Animation     Action  Adventure
3      Action  Adventure     Sci-Fi
4      Action  Adventure      Drama
5      Action  Adventure      Drama
6      Action     Sci-Fi       None
7      Action  Adventure    Fantasy
8      Action      Drama       None
9      Action     Sci-Fi       None
10     Action  Adventure    Fantasy
11     Action      Drama       None
12     Action      Drama    Mystery
13     Action      Drama    Mystery
14     Action  Adventure      Drama
15     Action      Crime      Drama
16     Action  Adventure       None
17  Animation     Action  Adventure

In [22]:
def query_sqlite_database():
    conn = sqlite3.connect('imdb_movies.db')
    cursor = conn.cursor()
    # 2) Display all movie names, Director, ratings, and gross collection where the genre is action.
    subquery2 = "SELECT IMDbMoviesInfo.'Movie Name', IMDbMoviesInfo.Director1, IMDbMoviesInfo.Ratings, IMDbMoviesDetails.'Gross Collection' FROM IMDbMoviesInfo JOIN IMDbMoviesDetails ON IMDbMoviesInfo.'Movie Name' = IMDbMoviesDetails.'Movie Name' WHERE IMDbMoviesDetails.Genre1 LIKE '%action%' OR IMDbMoviesDetails.Genre2 LIKE '%action%' OR IMDbMoviesDetails.Genre3 LIKE '%action%'"
    subresult2 = pd.read_sql_query(subquery2, conn)
    print("\nSubresult 2:")
    print(subresult2)
    
if __name__ == "__main__":
    # Step 1: Create tables and insert data from CSV files
    create_tables_and_insert_data()

    # Step 2: Query the SQLite database
    query_sqlite_database()

Subresult 2:
                                           Movie Name  \
0                                     The Dark Knight
1       The Lord of the Rings: The Return of the King
2                 Spider-Man: Across the Spider-Verse
3                                           Inception
4   The Lord of the Rings: The Fellowship of the Ring
5               The Lord of the Rings: The Two Towers
6                                          The Matrix
7      Star Wars: Episode V - The Empire Strikes Back
8                                     Soorarai Pottru
9                          Terminator 2: Judgment Day
10                                          Star Wars
11                               Shichinin no samurai
12                                            Seppuku
13                                         Sita Ramam
14                                          Gladiator
15                                               Léon
16                            Raiders of the Lost Ark
17                  Spider-Man: Into the Spider-Verse
18                              The Dark Knight Rises
19                                  Avengers: Endgame
20                                             Aliens
21                                           Oldeuboi
22                             Avengers: Infinity War
23                                             Kaithi
24                                             Asuran
25                                  Top Gun: Maverick
26                                               Heat
27         Star Wars: Episode VI - Return of the Jedi
28                                      Mononoke-hime
29                                 North by Northwest
30                                             Dangal
31                                            Kantara
32                                   K.G.F: Chapter 2
33                                             Vikram
34                                          Shershaah
35                                           Ratsasan
36                 Indiana Jones and the Last Crusade
37                                      Jurassic Park
38                                      Batman Begins
39                            Spider-Man: No Way Home
40                                               1917
41                                           Die Hard
42                                  Kill Bill: Vol. 1
43                                     V for Vendetta
44                                                Ran
45                 Kimetsu no Yaiba: Mugen Ressha-Hen
46                        Baahubali 2: The Conclusion
47                                 Gangs of Wasseypur
48                                            Yôjinbô
49                           Uri: The Surgical Strike

                         Director1  Ratings Gross Collection
0              \nChristopher Nolan      9.0      534,858,444
1                  \nPeter Jackson      9.0      377,845,905
2   Directors:\nJoaquim Dos Santos      8.9           191438
3              \nChristopher Nolan      8.8      292,576,195
4                  \nPeter Jackson      8.8      315,544,750
5                  \nPeter Jackson      8.8      342,551,365
6       Directors:\nLana Wachowski      8.7      171,479,930
7                 \nIrvin Kershner      8.7      290,475,067
8                  \nSudha Kongara      8.7           120110
9                  \nJames Cameron      8.6      204,843,350
10                  \nGeorge Lucas      8.6      322,740,140
11                \nAkira Kurosawa      8.6          269,061
12              \nMasaki Kobayashi      8.6            62337
13              \nHanu Raghavapudi      8.6            61561
14                  \nRidley Scott      8.5      187,705,427
15                    \nLuc Besson      8.5       19,501,238
16              \nSteven Spielberg      8.4      248,159,971
17     Directors:\nBob Persichetti      8.4      190,241,310
18             \nChristopher Nolan      8.4      448,139,099
19       Directors:\nAnthony Russo      8.4      858,373,000
20                 \nJames Cameron      8.4       85,160,248
21                \nPark Chan-wook      8.4          707,481
22       Directors:\nAnthony Russo      8.4      678,815,482
23              \nLokesh Kanagaraj      8.4            36857
24                   \nVetrimaaran      8.4            31567
25               \nJoseph Kosinski      8.3      718,732,821
26                  \nMichael Mann      8.3       67,436,818
27              \nRichard Marquand      8.3      309,125,409
28                \nHayao Miyazaki      8.3        2,375,308
29              \nAlfred Hitchcock      8.3       13,275,000
30                 \nNitesh Tiwari      8.3       12,391,761
31                 \nRishab Shetty      8.3            96994
32                \nPrashanth Neel      8.3        6,604,562
33              \nLokesh Kanagaraj      8.3            64888
34                 \nVishnuvardhan      8.3           125646
35                     \nRam Kumar      8.3            47541
36              \nSteven Spielberg      8.2      197,171,806
37              \nSteven Spielberg      8.2      402,453,882
38             \nChristopher Nolan      8.2      206,852,432
39                     \nJon Watts      8.2      804,747,988
40                    \nSam Mendes      8.2      159,227,644
41                \nJohn McTiernan      8.2       83,008,852
42             \nQuentin Tarantino      8.2       70,099,045
43                \nJames McTeigue      8.2       70,511,035
44                \nAkira Kurosawa      8.2        4,135,750
45                \nHaruo Sotozaki      8.2       47,700,000
46                \nS.S. Rajamouli      8.2       20,186,659
47                \nAnurag Kashyap      8.2            99958
48                \nAkira Kurosawa      8.2           126865
49                   \nAditya Dhar      8.2        4,186,168

In [25]:
def query_sqlite_database():
    conn = sqlite3.connect('imdb_movies.db')
    cursor = conn.cursor()
    # 3) Display all details from both tables with the highest gross collection.
    subquery3 = "SELECT * FROM IMDbMoviesInfo JOIN IMDbMoviesDetails ON IMDbMoviesInfo.'Movie Name' = IMDbMoviesDetails.'Movie Name' WHERE IMDbMoviesDetails.'Gross Collection' = (SELECT MAX(`Gross Collection`) FROM IMDbMoviesDetails)"
    subresult3 = pd.read_sql_query(subquery3, conn)
    print("\nSubresult 3:")
    print(subresult3)
    
if __name__ == "__main__":
    # Step 1: Create tables and insert data from CSV files
    create_tables_and_insert_data()

    # Step 2: Query the SQLite database
    query_sqlite_database()

Subresult 3:
   sno          Movie Name  Duration  Year  Ratings  Metascore  \
0   48  Gangs of Wasseypur       321  2012      8.2       89.0

          Director1 Director2          Movie Name  Votes Gross Collection  \
0  \nAnurag Kashyap      None  Gangs of Wasseypur  99958            99958

  Popularity Certification             Star1                  Star2  \
0       None             A  \nManoj Bajpayee  \nNawazuddin Siddiqui

                Star3           Star4  Genre1  Genre2 Genre3
0  \nTigmanshu Dhulia  \nRicha Chadha  Action  Comedy  Crime

In [26]:
def query_sqlite_database():
    conn = sqlite3.connect('imdb_movies.db')
    cursor = conn.cursor()
    # 4) Display all details from both tables with the highest ratings.
    subquery4 = "SELECT * FROM IMDbMoviesInfo JOIN IMDbMoviesDetails ON IMDbMoviesInfo.'Movie Name' = IMDbMoviesDetails.'Movie Name' WHERE IMDbMoviesInfo.Ratings = (SELECT MAX(Ratings) FROM IMDbMoviesInfo)"
    subresult4 = pd.read_sql_query(subquery4, conn)
    print("\nSubresult 4:")
    print(subresult4)
    
if __name__ == "__main__":
    # Step 1: Create tables and insert data from CSV files
    create_tables_and_insert_data()

    # Step 2: Query the SQLite database
    query_sqlite_database()

Subresult 4:
   sno                                     Movie Name  Duration  Year  \
0    1                                The Dark Knight       152  2008
1    2  The Lord of the Rings: The Return of the King       201  2003

   Ratings  Metascore            Director1 Director2  \
0      9.0       84.0  \nChristopher Nolan      None
1      9.0       94.0      \nPeter Jackson      None

                                      Movie Name    Votes Gross Collection  \
0                                The Dark Knight  2746898      534,858,444
1  The Lord of the Rings: The Return of the King  1901241      377,845,905

  Popularity Certification             Star1              Star2  \
0       None            UA  \nChristian Bale     \nHeath Ledger
1       None             U     \nElijah Wood  \nViggo Mortensen

             Star3            Star4  Genre1     Genre2 Genre3
0  \nAaron Eckhart  \nMichael Caine  Action      Crime  Drama
1   \nIan McKellen  \nOrlando Bloom  Action  Adventure  Drama

In [29]:
def query_sqlite_database():
    conn = sqlite3.connect('imdb_movies.db')
    cursor = conn.cursor()
    # 5) Display all details from both tables with the lowest gross collection and lowest ratings.
    subquery5 = "SELECT * FROM IMDbMoviesInfo JOIN IMDbMoviesDetails ON IMDbMoviesInfo.'Movie Name' = IMDbMoviesDetails.'Movie Name' ORDER BY IMDbMoviesDetails.'Gross Collection' ASC, IMDbMoviesInfo.Ratings ASC LIMIT 1"
    subresult5 = pd.read_sql_query(subquery5, conn)
    print("\nSubresult 5:")
    print(subresult5)
    
if __name__ == "__main__":
    # Step 1: Create tables and insert data from CSV files
    create_tables_and_insert_data()

    # Step 2: Query the SQLite database
    query_sqlite_database()

Subresult 5:
   sno Movie Name  Duration  Year  Ratings Metascore        Director1  \
0   31     Dangal       161  2016      8.3      None  \nNitesh Tiwari

  Director2 Movie Name   Votes Gross Collection Popularity Certification  \
0      None     Dangal  199361       12,391,761       None             U

          Star1            Star2                 Star3             Star4  \
0  \nAamir Khan  \nSakshi Tanwar  \nFatima Sana Shaikh  \nSanya Malhotra

   Genre1     Genre2 Genre3
0  Action  Biography  Drama

# Pandas SQL

In [51]:
!pip install pandasql

Requirement already satisfied: pandasql in c:\users\write\anaconda3\lib\site-packages (0.7.3)
Requirement already satisfied: numpy in c:\users\write\anaconda3\lib\site-packages (from pandasql) (1.21.5)
Requirement already satisfied: sqlalchemy in c:\users\write\anaconda3\lib\site-packages (from pandasql) (1.4.39)
Requirement already satisfied: pandas in c:\users\write\anaconda3\lib\site-packages (from pandasql) (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\write\anaconda3\lib\site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\write\anaconda3\lib\site-packages (from pandas->pandasql) (2022.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\write\anaconda3\lib\site-packages (from sqlalchemy->pandasql) (1.1.1)
Requirement already satisfied: six>=1.5 in c:\users\write\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)

In [66]:
from pandasql import sqldf

In [68]:
def create_tables_and_insert_data():
    # Reading data from the CSV files
    csv1_df = pd.read_csv('IMDbMoviesInfo.csv')
    csv2_df = pd.read_csv('IMDbMoviesDetails.csv')

    # Insert data into the first table using pandasql
    query1 = "SELECT * FROM csv1_df"
    globals()['IMDbMoviesInfo'] = sqldf(query1)

    # Insert data into the second table using pandasql
    query2 = "SELECT * FROM csv2_df"
    globals()['IMDbMoviesDetails'] = sqldf(query2)
    
def query_sqlite_database_with_pandas_sql():
    # Query 1: Display all the details of movies created by directors Christopher and Matt Reeves.
    query1 = "SELECT * FROM IMDbMoviesInfo WHERE Director1 IN ('Christopher', 'Matt Reeves') OR Director2 IN ('Christopher', 'Matt Reeves')"
    result1 = sqldf(query1)
    print("Result 1:")
    print(result1)
    
        # Query 2: Display all the details of movies with a duration of 140 minutes to 190 minutes.
    query2 = "SELECT * FROM IMDbMoviesInfo WHERE Duration BETWEEN 140 AND 190"
    result2 = sqldf(query2, globals())
    print("\nResult 2:")
    print(result2)

    # Query 3: Display all details of movies with ratings above 7 in ascending order.
    query3 = "SELECT * FROM IMDbMoviesInfo WHERE Ratings > 7 ORDER BY Ratings ASC"
    result3 = sqldf(query3, globals())
    print("\nResult 3:")
    print(result3)

    # Query 4: Display all movie names in descending order.
    query4 = "SELECT DISTINCT 'Movie Name' FROM IMDbMoviesInfo ORDER BY 'Movie Name' DESC"
    result4 = sqldf(query4)
    print("\nResult 4:")
    print(result4.to_string(index=False)) 

    # Query 5: Display movie names starts with ‘P’ and their rating is greater than 7.
    query5 = "SELECT 'Movie Name', Ratings FROM IMDbMoviesInfo WHERE 'Movie Name' LIKE 'P%' AND Ratings > 7"
    result5 = sqldf(query5)
    print("\nResult 5:")
    print(result5)

if __name__ == "__main__":
    # Step 1: Create tables and insert data from CSV files
    create_tables_and_insert_data()

    # Step 2: Query the SQLite database using Pandas SQL
    query_sqlite_database_with_pandas_sql()

Result 1:
Empty DataFrame
Columns: [sno, Movie Name, Duration, Year, Ratings, Metascore, Director1, Director2]
Index: []

Result 2:
    sno                                         Movie Name  Duration  Year  \
0     1                                    The Dark Knight       152  2008
1     3                Spider-Man: Across the Spider-Verse       140  2023
2     4                                          Inception       148  2010
3     5  The Lord of the Rings: The Fellowship of the Ring       178  2001
4     6              The Lord of the Rings: The Two Towers       179  2002
5     9                                    Soorarai Pottru       153  2020
6    14                                         Sita Ramam       163  2022
7    15                                          Gladiator       155  2000
8    19                              The Dark Knight Rises       164  2012
9    20                                  Avengers: Endgame       181  2019
10   23                             Avengers: Infinity War       149  2018
11   24                                             Kaithi       145  2019
12   25                                             Asuran       141  2019
13   27                                               Heat       170  1995
14   31                                             Dangal       161  2016
15   32                                            Kantara       148  2022
16   33                                   K.G.F: Chapter 2       168  2022
17   34                                             Vikram       175  2022
18   36                                           Ratsasan       170  2018
19   39                                      Batman Begins       140  2005
20   40                            Spider-Man: No Way Home       148  2021
21   45                                                Ran       162  1985
22   47                        Baahubali 2: The Conclusion       167  2017

    Ratings  Metascore                       Director1  \
0       9.0       84.0             \nChristopher Nolan
1       8.9       86.0  Directors:\nJoaquim Dos Santos
2       8.8       74.0             \nChristopher Nolan
3       8.8       92.0                 \nPeter Jackson
4       8.8       87.0                 \nPeter Jackson
5       8.7        NaN                 \nSudha Kongara
6       8.6        NaN              \nHanu Raghavapudi
7       8.5       67.0                  \nRidley Scott
8       8.4       78.0             \nChristopher Nolan
9       8.4       78.0       Directors:\nAnthony Russo
10      8.4       68.0       Directors:\nAnthony Russo
11      8.4        NaN              \nLokesh Kanagaraj
12      8.4        NaN                   \nVetrimaaran
13      8.3       76.0                  \nMichael Mann
14      8.3        NaN                 \nNitesh Tiwari
15      8.3        NaN                 \nRishab Shetty
16      8.3        NaN                \nPrashanth Neel
17      8.3        NaN              \nLokesh Kanagaraj
18      8.3        NaN                     \nRam Kumar
19      8.2       70.0             \nChristopher Nolan
20      8.2       71.0                     \nJon Watts
21      8.2       97.0                \nAkira Kurosawa
22      8.2        NaN                \nS.S. Rajamouli

                              Director2
0                                  None
1   \nKemp Powers, \nJustin K. Thompson
2                                  None
3                                  None
4                                  None
5                                  None
6                                  None
7                                  None
8                                  None
9                           \nJoe Russo
10                          \nJoe Russo
11                                 None
12                                 None
13                                 None
14                                 None
15                                 None
16                                 None
17                                 None
18                                 None
19                                 None
20                                 None
21                                 None
22                                 None

Result 3:
    sno                                         Movie Name  Duration  Year  \
0    37                 Indiana Jones and the Last Crusade       127  1989
1    38                                      Jurassic Park       127  1993
2    39                                      Batman Begins       140  2005
3    40                            Spider-Man: No Way Home       148  2021
4    41                                               1917       119  2019
5    42                                           Die Hard       132  1988
6    43                                  Kill Bill: Vol. 1       111  2003
7    44                                     V for Vendetta       132  2005
8    45                                                Ran       162  1985
9    46                 Kimetsu no Yaiba: Mugen Ressha-Hen       117  2020
10   47                        Baahubali 2: The Conclusion       167  2017
11   48                                 Gangs of Wasseypur       321  2012
12   49                                            Yôjinbô       110  1961
13   50                           Uri: The Surgical Strike       138  2019
14   26                                  Top Gun: Maverick       130  2022
15   27                                               Heat       170  1995
16   28         Star Wars: Episode VI - Return of the Jedi       131  1983
17   29                                      Mononoke-hime       134  1997
18   30                                 North by Northwest       136  1959
19   31                                             Dangal       161  2016
20   32                                            Kantara       148  2022
21   33                                   K.G.F: Chapter 2       168  2022
22   34                                             Vikram       175  2022
23   35                                          Shershaah       135  2021
24   36                                           Ratsasan       170  2018
25   17                            Raiders of the Lost Ark       115  1981
26   18                  Spider-Man: Into the Spider-Verse       117  2018
27   19                              The Dark Knight Rises       164  2012
28   20                                  Avengers: Endgame       181  2019
29   21                                             Aliens       137  1986
30   22                                           Oldeuboi       101  2003
31   23                             Avengers: Infinity War       149  2018
32   24                                             Kaithi       145  2019
33   25                                             Asuran       141  2019
34   15                                          Gladiator       155  2000
35   16                                               Léon       110  1994
36   10                         Terminator 2: Judgment Day       137  1991
37   11                                          Star Wars       121  1977
38   12                               Shichinin no samurai       207  1954
39   13                                            Seppuku       133  1962
40   14                                         Sita Ramam       163  2022
41    7                                         The Matrix       136  1999
42    8     Star Wars: Episode V - The Empire Strikes Back       124  1980
43    9                                    Soorarai Pottru       153  2020
44    4                                          Inception       148  2010
45    5  The Lord of the Rings: The Fellowship of the Ring       178  2001
46    6              The Lord of the Rings: The Two Towers       179  2002
47    3                Spider-Man: Across the Spider-Verse       140  2023
48    1                                    The Dark Knight       152  2008
49    2      The Lord of the Rings: The Return of the King       201  2003

    Ratings  Metascore                       Director1  \
0       8.2       65.0              \nSteven Spielberg
1       8.2       68.0              \nSteven Spielberg
2       8.2       70.0             \nChristopher Nolan
3       8.2       71.0                     \nJon Watts
4       8.2       78.0                    \nSam Mendes
5       8.2       72.0                \nJohn McTiernan
6       8.2       69.0             \nQuentin Tarantino
7       8.2       62.0                \nJames McTeigue
8       8.2       97.0                \nAkira Kurosawa
9       8.2       72.0                \nHaruo Sotozaki
10      8.2        NaN                \nS.S. Rajamouli
11      8.2       89.0                \nAnurag Kashyap
12      8.2       93.0                \nAkira Kurosawa
13      8.2        NaN                   \nAditya Dhar
14      8.3       78.0               \nJoseph Kosinski
15      8.3       76.0                  \nMichael Mann
16      8.3       58.0              \nRichard Marquand
17      8.3       76.0                \nHayao Miyazaki
18      8.3       98.0              \nAlfred Hitchcock
19      8.3        NaN                 \nNitesh Tiwari
20      8.3        NaN                 \nRishab Shetty
21      8.3        NaN                \nPrashanth Neel
22      8.3        NaN              \nLokesh Kanagaraj
23      8.3        NaN                 \nVishnuvardhan
24      8.3        NaN                     \nRam Kumar
25      8.4       85.0              \nSteven Spielberg
26      8.4       87.0     Directors:\nBob Persichetti
27      8.4       78.0             \nChristopher Nolan
28      8.4       78.0       Directors:\nAnthony Russo
29      8.4       84.0                 \nJames Cameron
30      8.4       77.0                \nPark Chan-wook
31      8.4       68.0       Directors:\nAnthony Russo
32      8.4        NaN              \nLokesh Kanagaraj
33      8.4        NaN                   \nVetrimaaran
34      8.5       67.0                  \nRidley Scott
35      8.5       64.0                    \nLuc Besson
36      8.6       75.0                 \nJames Cameron
37      8.6       90.0                  \nGeorge Lucas
38      8.6       98.0                \nAkira Kurosawa
39      8.6       85.0              \nMasaki Kobayashi
40      8.6        NaN              \nHanu Raghavapudi
41      8.7       73.0      Directors:\nLana Wachowski
42      8.7       82.0                \nIrvin Kershner
43      8.7        NaN                 \nSudha Kongara
44      8.8       74.0             \nChristopher Nolan
45      8.8       92.0                 \nPeter Jackson
46      8.8       87.0                 \nPeter Jackson
47      8.9       86.0  Directors:\nJoaquim Dos Santos
48      9.0       84.0             \nChristopher Nolan
49      9.0       94.0                 \nPeter Jackson

                              Director2
0                                  None
1                                  None
2                                  None
3                                  None
4                                  None
5                                  None
6                                  None
7                                  None
8                                  None
9                                  None
10                                 None
11                                 None
12                                 None
13                                 None
14                                 None
15                                 None
16                                 None
17                                 None
18                                 None
19                                 None
20                                 None
21                                 None
22                                 None
23                                 None
24                                 None
25                                 None
26     \nPeter Ramsey, \nRodney Rothman
27                                 None
28                          \nJoe Russo
29                                 None
30                                 None
31                          \nJoe Russo
32                                 None
33                                 None
34                                 None
35                                 None
36                                 None
37                                 None
38                                 None
39                                 None
40                                 None
41                    \nLilly Wachowski
42                                 None
43                                 None
44                                 None
45                                 None
46                                 None
47  \nKemp Powers, \nJustin K. Thompson
48                                 None
49                                 None

Result 4:
'Movie Name'
  Movie Name

Result 5:
Empty DataFrame
Columns: ['Movie Name', Ratings]
Index: []

In [75]:
def create_tables_and_insert_data():
    # Reading data from the CSV files
    csv1_df = pd.read_csv('IMDbMoviesInfo.csv')
    csv2_df = pd.read_csv('IMDbMoviesDetails.csv')

    # Insert data into the first table using pandasql
    query1 = "SELECT * FROM csv1_df"
    globals()['IMDbMoviesInfo'] = sqldf(query1)

    # Rename columns in csv2_df to match the expected column names
    csv2_df.rename(columns={
        'name': 'Movie Name',
        'votes': 'Votes',
        'gross': 'Gross Collection',
        'popularity': 'Popularity',
        'certificate': 'Certification',
        'star1': 'Star1',
        'star2': 'Star2',
        'star3': 'Star3',
        'star4': 'Star4',
        'genre1': 'Genre1',
        'genre2': 'Genre2',
        'genre3': 'Genre3'
    }, inplace=True)

    # Insert data into the second table using pandasql
    query2 = "SELECT * FROM csv2_df"
    globals()['IMDbMoviesDetails'] = sqldf(query2)
    
def create_tables_and_insert_data():
    # Reading data from the CSV files
    csv1_df = pd.read_csv('IMDbMoviesInfo.csv')
    csv2_df = pd.read_csv('IMDbMoviesDetails.csv')

    # Insert data into the first table using pandasql
    query1 = "SELECT * FROM csv1_df"
    globals()['IMDbMoviesInfo'] = sqldf(query1)

    # Clean the data in csv2_df by removing leading newline characters from star names
    csv2_df['Star1'] = csv2_df['Star1'].str.strip()
    csv2_df['Star2'] = csv2_df['Star2'].str.strip()
    csv2_df['Star3'] = csv2_df['Star3'].str.strip()
    csv2_df['Star4'] = csv2_df['Star4'].str.strip()

    # Insert data into the second table using pandasql
    query2 = "SELECT * FROM csv2_df"
    globals()['IMDbMoviesDetails'] = sqldf(query2)
    
    # Reading data from the CSV files
csv2_df = pd.read_csv('IMDbMoviesDetails.csv')

# Clean the data in csv2_df by removing leading newline characters from star names
csv2_df['Star1'] = csv2_df['Star1'].str.strip()
csv2_df['Star2'] = csv2_df['Star2'].str.strip()
csv2_df['Star3'] = csv2_df['Star3'].str.strip()
csv2_df['Star4'] = csv2_df['Star4'].str.strip()

# Print the contents of csv2_df
print("Contents of csv2_df after cleaning the data:")
print(csv2_df.head())

    
def query_sqlite_database_with_pandas_sql():
    # Query 6: Display all movie names with star Arnold Schwarzenegger in ascending order.
    query6 = "SELECT 'Movie Name' FROM IMDbMoviesDetails WHERE Star1 LIKE '%Arnold Schwarzenegger%' OR Star2 LIKE '%Arnold Schwarzenegger%' OR Star3 LIKE '%Arnold Schwarzenegger%' OR Star4 LIKE '%Arnold Schwarzenegger%' ORDER BY 'Movie Name' ASC"
    result6 = sqldf(query6, globals())
    print("\nResult 6:")
    print(result6)

    # Query 7: Display all details of the movie with the highest number of votes.
    query7 = "SELECT * FROM IMDbMoviesDetails WHERE Votes = (SELECT MAX(Votes) FROM IMDbMoviesDetails)"
    result7 = sqldf(query7, globals())
    print("\nResult 7:")
    print(result7)

    # Query 8: Display movie names with gross collections in descending order.
    query8 = "SELECT `Movie Name`, `Gross Collection` FROM IMDbMoviesDetails ORDER BY `Gross Collection` DESC"
    result8 = sqldf(query8)
    print("\nResult 8:")
    print(result8.to_string(index=False)) 

    # Query 9: Display the gross collection of movies with the star Arnold.
    query9 = "SELECT 'Movie Name', 'Gross Collection' FROM IMDbMoviesDetails WHERE Star1 LIKE '%Arnold%' OR Star2 LIKE '%Arnold%' OR Star3 LIKE '%Arnold%' OR Star4 LIKE '%Arnold%'"
    result9 = sqldf(query9, globals())
    print("\nResult 9:")
    print(result9)

    # Query 10: Display all details of movies with comedy and action genres (case-insensitive)
    query10 = "SELECT * FROM IMDbMoviesDetails WHERE LOWER(Genre1) LIKE '%comedy%' AND LOWER(Genre2) LIKE '%action%'"
    result10 = sqldf(query10)
    print("\nResult 10:")
    print(result10.to_string(index=False))

if __name__ == "__main__":
    # Step 1: Create tables and insert data from CSV files
    create_tables_and_insert_data()

    # Step 2: Query the SQLite database using Pandas SQL
    query_sqlite_database_with_pandas_sql()

Contents of csv2_df after cleaning the data:
                                          Movie Name    Votes  \
0                                    The Dark Knight  2746898
1      The Lord of the Rings: The Return of the King  1901241
2                Spider-Man: Across the Spider-Verse   191438
3                                          Inception  2437787
4  The Lord of the Rings: The Fellowship of the Ring  1929591

  Gross Collection  Popularity Certification              Star1  \
0      534,858,444         NaN            UA     Christian Bale
1      377,845,905         NaN             U        Elijah Wood
2           191438         NaN             U      Shameik Moore
3      292,576,195         NaN            UA  Leonardo DiCaprio
4      315,544,750         NaN             U        Elijah Wood

                  Star2              Star3              Star4     Genre1  \
0          Heath Ledger      Aaron Eckhart      Michael Caine     Action
1       Viggo Mortensen       Ian McKellen      Orlando Bloom     Action
2      Hailee Steinfeld  Brian Tyree Henry  Luna Lauren Velez  Animation
3  Joseph Gordon-Levitt        Elliot Page       Ken Watanabe     Action
4          Ian McKellen      Orlando Bloom          Sean Bean     Action

      Genre2     Genre3
0      Crime      Drama
1  Adventure      Drama
2     Action  Adventure
3  Adventure     Sci-Fi
4  Adventure      Drama

Result 6:
  'Movie Name'
0   Movie Name

Result 7:
        Movie Name    Votes Gross Collection Popularity Certification  \
0  The Dark Knight  2746898      534,858,444       None            UA

            Star1         Star2          Star3          Star4  Genre1 Genre2  \
0  Christian Bale  Heath Ledger  Aaron Eckhart  Michael Caine  Action  Crime

  Genre3
0  Drama

Result 8:
                                       Movie Name Gross Collection
                               Gangs of Wasseypur            99958
                                          Kantara            96994
                                Avengers: Endgame      858,373,000
                                           Aliens       85,160,248
                                         Die Hard       83,008,852
                          Spider-Man: No Way Home      804,747,988
                                Top Gun: Maverick      718,732,821
                                         Oldeuboi          707,481
                                   V for Vendetta       70,511,035
                                Kill Bill: Vol. 1       70,099,045
                           Avengers: Infinity War      678,815,482
                                             Heat       67,436,818
                                           Vikram            64888
                                          Seppuku            62337
                                       Sita Ramam            61561
                                 K.G.F: Chapter 2        6,604,562
                                  The Dark Knight      534,858,444
                                         Ratsasan            47541
               Kimetsu no Yaiba: Mugen Ressha-Hen       47,700,000
                            The Dark Knight Rises      448,139,099
                                    Jurassic Park      402,453,882
                         Uri: The Surgical Strike        4,186,168
                                              Ran        4,135,750
    The Lord of the Rings: The Return of the King      377,845,905
                                           Kaithi            36857
            The Lord of the Rings: The Two Towers      342,551,365
                                        Star Wars      322,740,140
                                           Asuran            31567
The Lord of the Rings: The Fellowship of the Ring      315,544,750
       Star Wars: Episode VI - Return of the Jedi      309,125,409
                                        Inception      292,576,195
   Star Wars: Episode V - The Empire Strikes Back      290,475,067
                             Shichinin no samurai          269,061
                          Raiders of the Lost Ark      248,159,971
                                    Batman Begins      206,852,432
                       Terminator 2: Judgment Day      204,843,350
                      Baahubali 2: The Conclusion       20,186,659
                                    Mononoke-hime        2,375,308
               Indiana Jones and the Last Crusade      197,171,806
              Spider-Man: Across the Spider-Verse           191438
                Spider-Man: Into the Spider-Verse      190,241,310
                                             Léon       19,501,238
                                        Gladiator      187,705,427
                                       The Matrix      171,479,930
                                             1917      159,227,644
                               North by Northwest       13,275,000
                                          Yôjinbô           126865
                                        Shershaah           125646
                                  Soorarai Pottru           120110
                                           Dangal       12,391,761

Result 9:
  'Movie Name' 'Gross Collection'
0   Movie Name   Gross Collection

Result 10:
Empty DataFrame
Columns: [Movie Name, Votes, Gross Collection, Popularity, Certification, Star1, Star2, Star3, Star4, Genre1, Genre2, Genre3]
Index: []

In [87]:
def create_tables_and_insert_data():
    # Reading data from the CSV files
    csv1_df = pd.read_csv('IMDbMoviesInfo.csv')
    csv2_df = pd.read_csv('IMDbMoviesDetails.csv')

    # Insert data into the first table using pandasql
    query1 = "SELECT * FROM csv1_df"
    globals()['IMDbMoviesInfo'] = sqldf(query1)

    # Insert data into the second table using pandasql
    query2 = "SELECT * FROM csv2_df"
    globals()['IMDbMoviesDetails'] = sqldf(query2)
    
        # Subqueries:
def query_sqlite_database_with_pandas_sql():
    # Subquery 1: Display all details from both tables where movie names are the same.
    subquery1 = "SELECT * FROM IMDbMoviesInfo JOIN IMDbMoviesDetails ON IMDbMoviesInfo.'Movie Name' = IMDbMoviesDetails.'Movie Name'"
    subresult1 = sqldf(subquery1, globals())
    print("\nSubresult 1:")
    print(subresult1)

    # Subquery 2: Display all movie names, Director, ratings, and gross collection where the genre is action.
    subquery2 = "SELECT IMDbMoviesInfo.'Movie Name', IMDbMoviesInfo.Director1, IMDbMoviesInfo.Ratings, IMDbMoviesDetails.'Gross Collection' FROM IMDbMoviesInfo JOIN IMDbMoviesDetails ON IMDbMoviesInfo.'Movie Name' = IMDbMoviesDetails.'Movie Name' WHERE IMDbMoviesDetails.Genre1 LIKE '%action%' OR IMDbMoviesDetails.Genre2 LIKE '%action%' OR IMDbMoviesDetails.Genre3 LIKE '%action%'"
    subresult2 = sqldf(subquery2, globals())
    print("\nSubresult 2:")
    print(subresult2)

    # Subquery 3: Display all details from both tables with the highest gross collection.
    subquery3 = "SELECT * FROM IMDbMoviesInfo JOIN IMDbMoviesDetails ON IMDbMoviesInfo.'Movie Name' = IMDbMoviesDetails.'Movie Name' WHERE IMDbMoviesDetails.'Gross Collection' = (SELECT MAX('Gross Collection') FROM IMDbMoviesDetails)"
    subresult3 = sqldf(subquery3, globals())
    print("\nSubresult 3:")
    print(subresult3)

    # Subquery 4: Display all details from both tables with the highest ratings.
    subquery4 = "SELECT * FROM IMDbMoviesInfo JOIN IMDbMoviesDetails ON IMDbMoviesInfo.'Movie Name' = IMDbMoviesDetails.'Movie Name' WHERE IMDbMoviesInfo.Ratings = (SELECT MAX(Ratings) FROM IMDbMoviesInfo)"
    subresult4 = sqldf(subquery4, globals())
    print("\nSubresult 4:")
    print(subresult4)

    # Subquery 5: Display all details from both tables with the lowest gross collection and lowest ratings.
    subquery5 = "SELECT * FROM IMDbMoviesInfo JOIN IMDbMoviesDetails ON IMDbMoviesInfo.'Movie Name' = IMDbMoviesDetails.'Movie Name' WHERE IMDbMoviesDetails.'Gross Collection' = (SELECT MIN('Gross Collection') FROM IMDbMoviesDetails) AND IMDbMoviesInfo.Ratings = (SELECT MIN(Ratings) FROM IMDbMoviesInfo)"
    subresult5 = sqldf(subquery5, globals())
    print("\nSubresult 5:")
    print(subresult5)

if __name__ == "__main__":
    # Step 1: Create tables and insert data from CSV files
    create_tables_and_insert_data()

    # Step 2: Query the SQLite database using Pandas SQL
    query_sqlite_database_with_pandas_sql()

Subresult 1:
    sno                                         Movie Name  Duration  Year  \
0     1                                    The Dark Knight       152  2008
1     2      The Lord of the Rings: The Return of the King       201  2003
2     3                Spider-Man: Across the Spider-Verse       140  2023
3     4                                          Inception       148  2010
4     5  The Lord of the Rings: The Fellowship of the Ring       178  2001
5     6              The Lord of the Rings: The Two Towers       179  2002
6     7                                         The Matrix       136  1999
7     8     Star Wars: Episode V - The Empire Strikes Back       124  1980
8     9                                    Soorarai Pottru       153  2020
9    10                         Terminator 2: Judgment Day       137  1991
10   11                                          Star Wars       121  1977
11   12                               Shichinin no samurai       207  1954
12   13                                            Seppuku       133  1962
13   14                                         Sita Ramam       163  2022
14   15                                          Gladiator       155  2000
15   16                                               Léon       110  1994
16   17                            Raiders of the Lost Ark       115  1981
17   18                  Spider-Man: Into the Spider-Verse       117  2018
18   19                              The Dark Knight Rises       164  2012
19   20                                  Avengers: Endgame       181  2019
20   21                                             Aliens       137  1986
21   22                                           Oldeuboi       101  2003
22   23                             Avengers: Infinity War       149  2018
23   24                                             Kaithi       145  2019
24   25                                             Asuran       141  2019
25   26                                  Top Gun: Maverick       130  2022
26   27                                               Heat       170  1995
27   28         Star Wars: Episode VI - Return of the Jedi       131  1983
28   29                                      Mononoke-hime       134  1997
29   30                                 North by Northwest       136  1959
30   31                                             Dangal       161  2016
31   32                                            Kantara       148  2022
32   33                                   K.G.F: Chapter 2       168  2022
33   34                                             Vikram       175  2022
34   35                                          Shershaah       135  2021
35   36                                           Ratsasan       170  2018
36   37                 Indiana Jones and the Last Crusade       127  1989
37   38                                      Jurassic Park       127  1993
38   39                                      Batman Begins       140  2005
39   40                            Spider-Man: No Way Home       148  2021
40   41                                               1917       119  2019
41   42                                           Die Hard       132  1988
42   43                                  Kill Bill: Vol. 1       111  2003
43   44                                     V for Vendetta       132  2005
44   45                                                Ran       162  1985
45   46                 Kimetsu no Yaiba: Mugen Ressha-Hen       117  2020
46   47                        Baahubali 2: The Conclusion       167  2017
47   48                                 Gangs of Wasseypur       321  2012
48   49                                            Yôjinbô       110  1961
49   50                           Uri: The Surgical Strike       138  2019

    Ratings  Metascore                       Director1  \
0       9.0       84.0             \nChristopher Nolan
1       9.0       94.0                 \nPeter Jackson
2       8.9       86.0  Directors:\nJoaquim Dos Santos
3       8.8       74.0             \nChristopher Nolan
4       8.8       92.0                 \nPeter Jackson
5       8.8       87.0                 \nPeter Jackson
6       8.7       73.0      Directors:\nLana Wachowski
7       8.7       82.0                \nIrvin Kershner
8       8.7        NaN                 \nSudha Kongara
9       8.6       75.0                 \nJames Cameron
10      8.6       90.0                  \nGeorge Lucas
11      8.6       98.0                \nAkira Kurosawa
12      8.6       85.0              \nMasaki Kobayashi
13      8.6        NaN              \nHanu Raghavapudi
14      8.5       67.0                  \nRidley Scott
15      8.5       64.0                    \nLuc Besson
16      8.4       85.0              \nSteven Spielberg
17      8.4       87.0     Directors:\nBob Persichetti
18      8.4       78.0             \nChristopher Nolan
19      8.4       78.0       Directors:\nAnthony Russo
20      8.4       84.0                 \nJames Cameron
21      8.4       77.0                \nPark Chan-wook
22      8.4       68.0       Directors:\nAnthony Russo
23      8.4        NaN              \nLokesh Kanagaraj
24      8.4        NaN                   \nVetrimaaran
25      8.3       78.0               \nJoseph Kosinski
26      8.3       76.0                  \nMichael Mann
27      8.3       58.0              \nRichard Marquand
28      8.3       76.0                \nHayao Miyazaki
29      8.3       98.0              \nAlfred Hitchcock
30      8.3        NaN                 \nNitesh Tiwari
31      8.3        NaN                 \nRishab Shetty
32      8.3        NaN                \nPrashanth Neel
33      8.3        NaN              \nLokesh Kanagaraj
34      8.3        NaN                 \nVishnuvardhan
35      8.3        NaN                     \nRam Kumar
36      8.2       65.0              \nSteven Spielberg
37      8.2       68.0              \nSteven Spielberg
38      8.2       70.0             \nChristopher Nolan
39      8.2       71.0                     \nJon Watts
40      8.2       78.0                    \nSam Mendes
41      8.2       72.0                \nJohn McTiernan
42      8.2       69.0             \nQuentin Tarantino
43      8.2       62.0                \nJames McTeigue
44      8.2       97.0                \nAkira Kurosawa
45      8.2       72.0                \nHaruo Sotozaki
46      8.2        NaN                \nS.S. Rajamouli
47      8.2       89.0                \nAnurag Kashyap
48      8.2       93.0                \nAkira Kurosawa
49      8.2        NaN                   \nAditya Dhar

                              Director2  \
0                                  None
1                                  None
2   \nKemp Powers, \nJustin K. Thompson
3                                  None
4                                  None
5                                  None
6                     \nLilly Wachowski
7                                  None
8                                  None
9                                  None
10                                 None
11                                 None
12                                 None
13                                 None
14                                 None
15                                 None
16                                 None
17     \nPeter Ramsey, \nRodney Rothman
18                                 None
19                          \nJoe Russo
20                                 None
21                                 None
22                          \nJoe Russo
23                                 None
24                                 None
25                                 None
26                                 None
27                                 None
28                                 None
29                                 None
30                                 None
31                                 None
32                                 None
33                                 None
34                                 None
35                                 None
36                                 None
37                                 None
38                                 None
39                                 None
40                                 None
41                                 None
42                                 None
43                                 None
44                                 None
45                                 None
46                                 None
47                                 None
48                                 None
49                                 None

                                           Movie Name    Votes  \
0                                     The Dark Knight  2746898
1       The Lord of the Rings: The Return of the King  1901241
2                 Spider-Man: Across the Spider-Verse   191438
3                                           Inception  2437787
4   The Lord of the Rings: The Fellowship of the Ring  1929591
5               The Lord of the Rings: The Two Towers  1715719
6                                          The Matrix  1973481
7      Star Wars: Episode V - The Empire Strikes Back  1331313
8                                     Soorarai Pottru   120110
9                          Terminator 2: Judgment Day  1132377
10                                          Star Wars  1403503
11                               Shichinin no samurai   355314
12                                            Seppuku    62337
13                                         Sita Ramam    61561
14                                          Gladiator  1548002
15                                               Léon  1198846
16                            Raiders of the Lost Ark  1005023
17                  Spider-Man: Into the Spider-Verse   611920
18                              The Dark Knight Rises  1757420
19                                  Avengers: Endgame  1197274
20                                             Aliens   737743
21                                           Oldeuboi   602343
22                             Avengers: Infinity War  1139385
23                                             Kaithi    36857
24                                             Asuran    31567
25                                  Top Gun: Maverick   612778
26                                               Heat   684205
27         Star Wars: Episode VI - Return of the Jedi  1085357
28                                      Mononoke-hime   410961
29                                 North by Northwest   336675
30                                             Dangal   199361
31                                            Kantara    96994
32                                   K.G.F: Chapter 2   141171
33                                             Vikram    64888
34                                          Shershaah   125646
35                                           Ratsasan    47541
36                 Indiana Jones and the Last Crusade   785231
37                                      Jurassic Park  1024335
38                                      Batman Begins  1517368
39                            Spider-Man: No Way Home   815853
40                                               1917   631012
41                                           Die Hard   906945
42                                  Kill Bill: Vol. 1  1148879
43                                     V for Vendetta  1146896
44                                                Ran   130495
45                 Kimetsu no Yaiba: Mugen Ressha-Hen    66279
46                        Baahubali 2: The Conclusion   108203
47                                 Gangs of Wasseypur    99958
48                                            Yôjinbô   126865
49                           Uri: The Surgical Strike    68404

   Gross Collection Popularity Certification                    Star1  \
0       534,858,444       None            UA         \nChristian Bale
1       377,845,905       None             U            \nElijah Wood
2            191438       None             U          \nShameik Moore
3       292,576,195       None            UA      \nLeonardo DiCaprio
4       315,544,750       None             U            \nElijah Wood
5       342,551,365       None            UA            \nElijah Wood
6       171,479,930       None             A           \nKeanu Reeves
7       290,475,067       None            UA            \nMark Hamill
8            120110       None             U                 \nSuriya
9       204,843,350       None             A  \nArnold Schwarzenegger
10      322,740,140       None             U            \nMark Hamill
11          269,061       None             U         \nToshirô Mifune
12            62337       None          None        \nTatsuya Nakadai
13            61561       None             U        \nDulquer Salmaan
14      187,705,427       None            UA          \nRussell Crowe
15       19,501,238       None             A              \nJean Reno
16      248,159,971       None             A          \nHarrison Ford
17      190,241,310       None             U          \nShameik Moore
18      448,139,099       None            UA         \nChristian Bale
19      858,373,000       None            UA      \nRobert Downey Jr.
20       85,160,248       None             U       \nSigourney Weaver
21          707,481       None             A           \nChoi Min-sik
22      678,815,482       None            UA      \nRobert Downey Jr.
23            36857       None            UA                 \nKarthi
24            31567       None            UA                \nDhanush
25      718,732,821       None            UA             \nTom Cruise
26       67,436,818       None             A              \nAl Pacino
27      309,125,409       None             U            \nMark Hamill
28        2,375,308       None             U           \nYôji Matsuda
29       13,275,000       None             U             \nCary Grant
30       12,391,761       None             U             \nAamir Khan
31            96994       None            UA          \nRishab Shetty
32        6,604,562       None            UA                   \nYash
33            64888       None            UA           \nKamal Haasan
34           125646       None            UA      \nSidharth Malhotra
35            47541       None            UA          \nVishnu Vishal
36      197,171,806       None             U          \nHarrison Ford
37      402,453,882       None            UA              \nSam Neill
38      206,852,432       None            UA         \nChristian Bale
39      804,747,988       None            UA            \nTom Holland
40      159,227,644       None             R   \nDean-Charles Chapman
41       83,008,852       None             A           \nBruce Willis
42       70,099,045       None             A            \nUma Thurman
43       70,511,035       None            UA           \nHugo Weaving
44        4,135,750       None     Not Rated        \nTatsuya Nakadai
45       47,700,000       None            UA          \nNatsuki Hanae
46       20,186,659       None            UA                \nPrabhas
47            99958       None             A         \nManoj Bajpayee
48           126865       None             U         \nToshirô Mifune
49        4,186,168       None            UA          \nVicky Kaushal

                     Star2                   Star3                   Star4  \
0           \nHeath Ledger         \nAaron Eckhart         \nMichael Caine
1        \nViggo Mortensen          \nIan McKellen         \nOrlando Bloom
2       \nHailee Steinfeld     \nBrian Tyree Henry     \nLuna Lauren Velez
3   \nJoseph Gordon-Levitt           \nElliot Page          \nKen Watanabe
4           \nIan McKellen         \nOrlando Bloom             \nSean Bean
5           \nIan McKellen       \nViggo Mortensen         \nOrlando Bloom
6     \nLaurence Fishburne      \nCarrie-Anne Moss          \nHugo Weaving
7          \nHarrison Ford         \nCarrie Fisher    \nBilly Dee Williams
8           \nParesh Rawal     \nAparna Balamurali        \nVivek Prasanna
9         \nLinda Hamilton        \nEdward Furlong        \nRobert Patrick
10         \nHarrison Ford         \nCarrie Fisher         \nAlec Guinness
11       \nTakashi Shimura        \nKeiko Tsushima      \nYukiko Shimazaki
12        \nAkira Ishihama        \nShima Iwashita         \nTetsurô Tanba
13         \nMrunal Thakur     \nRashmika Mandanna               \nSumanth
14       \nJoaquin Phoenix        \nConnie Nielsen           \nOliver Reed
15           \nGary Oldman       \nNatalie Portman          \nDanny Aiello
16           \nKaren Allen          \nPaul Freeman      \nJohn Rhys-Davies
17          \nJake Johnson      \nHailee Steinfeld        \nMahershala Ali
18             \nTom Hardy         \nAnne Hathaway           \nGary Oldman
19           \nChris Evans          \nMark Ruffalo       \nChris Hemsworth
20         \nMichael Biehn           \nCarrie Henn           \nPaul Reiser
21            \nYoo Ji-tae        \nKang Hye-jeong         \nKim Byeong-Ok
22       \nChris Hemsworth          \nMark Ruffalo           \nChris Evans
23                \nNarain             \nArjun Das         \nGeorge Maryan
24         \nManju Warrier           \nPrakash Raj             \nPasupathy
25     \nJennifer Connelly          \nMiles Teller            \nVal Kilmer
26        \nRobert De Niro            \nVal Kilmer            \nJon Voight
27         \nHarrison Ford         \nCarrie Fisher    \nBilly Dee Williams
28         \nYuriko Ishida           \nYûko Tanaka          \nBilly Crudup
29       \nEva Marie Saint           \nJames Mason   \nJessie Royce Landis
30         \nSakshi Tanwar    \nFatima Sana Shaikh        \nSanya Malhotra
31      \nKishore Kumar G.         \nAchyuth Kumar        \nSapthami Gowda
32           \nSanjay Dutt        \nRaveena Tandon       \nSrinidhi Shetty
33      \nVijay Sethupathi         \nFahadh Faasil                \nNarain
34          \nKiara Advani          \nShiv Panditt       \nPranay Pachauri
35            \nAmala Paul            \nRadha Ravi       \nSangili Murugan
36          \nSean Connery          \nAlison Doody       \nDenholm Elliott
37            \nLaura Dern         \nJeff Goldblum  \nRichard Attenborough
38         \nMichael Caine          \nKen Watanabe           \nLiam Neeson
39               \nZendaya  \nBenedict Cumberbatch         \nJacob Batalon
40         \nGeorge MacKay           \nDaniel Mays           \nColin Firth
41          \nAlan Rickman        \nBonnie Bedelia   \nReginald VelJohnson
42       \nDavid Carradine          \nDaryl Hannah        \nMichael Madsen
43       \nNatalie Portman         \nRupert Graves           \nStephen Rea
44           \nAkira Terao         \nJinpachi Nezu           \nDaisuke Ryû
45            \nAkari Kitô   \nYoshitsugu Matsuoka          \nHiro Shimono
46        \nRana Daggubati        \nAnushka Shetty      \nTamannaah Bhatia
47   \nNawazuddin Siddiqui      \nTigmanshu Dhulia          \nRicha Chadha
48           \nEijirô Tôno       \nTatsuya Nakadai          \nYôko Tsukasa
49          \nParesh Rawal           \nMohit Raina           \nYami Gautam

       Genre1     Genre2     Genre3
0      Action      Crime      Drama
1      Action  Adventure      Drama
2   Animation     Action  Adventure
3      Action  Adventure     Sci-Fi
4      Action  Adventure      Drama
5      Action  Adventure      Drama
6      Action     Sci-Fi       None
7      Action  Adventure    Fantasy
8      Action      Drama       None
9      Action     Sci-Fi       None
10     Action  Adventure    Fantasy
11     Action      Drama       None
12     Action      Drama    Mystery
13     Action      Drama    Mystery
14     Action  Adventure      Drama
15     Action      Crime      Drama
16     Action  Adventure       None
17  Animation     Action  Adventure